body {
  background-color: #f2f2f2;
  font-family: sans-serif;
}

.wrapper {
  text-align: center;
}

.header {
  display: block;
  position: relative;
  line-height: 10px;
}

.header a {
  text-decoration: none;

  /* Multi-browser support */
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;

  transition:color .2s ease-out, background 2s ease-in;
}

.header a:hover {
  color: #0099ff;
}

.header img {
  margin-top: 3vw;
  max-width: 20%;
  max-height: 20%;
}
