body {
  background-color: #f2f2f2;
  font-family: helvetica;
}

.wrapper {
  text-align: center;
}

.header,
.footer {
  display: block;
  position: relative;
  line-height: 10px;
}

.header a,
.footer a {
  text-decoration: none;

  /* Multi-browser support */
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;

  transition:color .2s ease-out, background 2s ease-in;
}

.header a:visited,
.header a:link,
.footer a:visited,
.footer a:link {
  color: #8c8c8c;
}

.header a:hover {
  color: #0099ff;
}

.header h1 {
  letter-spacing: 5px;
  padding-top: 24px;
  padding-bottom: 13px;
}

.about-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 910px;
  padding-top: 3px;
}

.about-container p {
  text-align: left;
  line-height: 27px;
}

.about-container img {
  padding-right: 50px;
  width: 240px;
  float: left;
}

.about-container h3 {
  text-align: left;
}

.external-links a {
  text-decoration: none;
  border-bottom: 1px solid #0099ff;

  /* Multi-browser support */
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;

  transition:color .2s ease-out, background 2s ease-in;
}

.external-links a:visited,
.external-links a:link{
  color: #000000;
}

.external-links a:hover {
  color: #0099ff;
}
