body {
  background-color: #f2f2f2;
  font-family: helvetica;
}

.wrapper {
  text-align: center;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}

.header h1 {
  letter-spacing: 5px;
  padding-top: 24px;
  padding-bottom: 13px;
}

.about-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 910px;
  padding-top: 3px;
}

.about-container p {
  text-align: left;
  line-height: 27px;
}

.about-container img {
  padding-right: 50px;
  width: 240px;
  float: left;
}

.about-container h3 {
  text-align: left;
}

.external-links a,
.about-container a {
  text-decoration: none;
  border-bottom: 1px solid #0099ff;

  /* Multi-browser support */
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;

  transition:color .2s ease-out, background 2s ease-in;
}

.external-links a:visited,
.external-links a:link,
.about-container a:visited,
.about-container a:link {
  color: #000000;
}

.external-links a:hover,
.about-container a:hover {
  color: #0099ff;
}

.left {
  float: left;
  width: 46%;
}

.left ul, .right ul {
  text-align: left;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 27px;
}

.right {
  float: right;
  width: 46%;
}

.about-container h3 {
  line-height: 0px;
  padding-top: 20px;
}
