body {
  background-color: #f2f2f2;
  font-family: helvetica;
}

.wrapper {
  text-align: center;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}

.header h1 {
  letter-spacing: 5px;
  padding-top: 24px;
}

.gallery {
  padding-bottom: 12px;
}

.gallery h3 {
  line-height: 0px;
}

.gallery #title {
  padding-top: 20px;
  text-align: left;
}

.gallery #titleline {
  margin-left: 0%;
}

.gallery img {
  max-width: 30%;
  padding: 13px;
  vertical-align: middle;
}

.gallery a {
  text-decoration: none;
}

.header p {
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 12px;
  padding-bottom: 13px;

}
