body {
  background-color: #f2f2f2;
  font-family: helvetica;
}

.wrapper {
  text-align: center;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}

.header h1 {
  letter-spacing: 5px;
  padding-top: 24px;
  padding-bottom: 13px;
}

.gallery {

}

.gallery img {
  max-width: 30%;
  padding: 13px;
  vertical-align: middle;
}
