
body {
  background-color: #f2f2f2;
  font-family: sans-serif;
}

.wrapper {
  text-align: center;
}

.header {
  display: block;
  position: relative;
  line-height: 10px;

}

.header img {
  margin-top: 5%;
  max-width: 20%;
  max-height: 20%;

}

.header h1 {
  letter-spacing: 1vw;
  margin-top: 2vw;
  padding-left: 0.7vw;
  font-size: 2vw;
}

.header h5 {
  letter-spacing: 0.47vw;
  margin-top: 10px;
  font-weight: normal;
  font-size: 0.75vw;
}
