html {

}

body {
  background-color: #f2f2f2;
  font-family: helvetica;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header {
  display: block;
  position: relative;
  line-height: 10px;
}

.header img {
  margin-top: 60px;
  max-width: 400px;
}

.header h1 {
  letter-spacing: .26em;
  font-weight: 600px;
  padding-left: 8px;
  font-size: 35px;
  padding-top: 15px;
}

.header h5 {
  letter-spacing: .25em;
  font-weight: normal;
  font-size: 15px;
}

#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 910;
  padding-top: 5px;
}

#navigation img {
  max-width: 213px;
  float: left;
  padding: 10px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.column:hover .image {
  opacity: 0.33;
}

.footer {
  font-size: 12px;
}

/* Media Queries */
@media screen and (max-width: 975px) {
  .header hr {
    width: 445px;
  }

  .header img {
    max-width: 312px;
  }

  .header h1 {
    font-size: 32px;
    padding-top: 10px;
  }

  .header h5 {
    font-size: 13.75px;
  }

  #navigation {
    max-width: 600px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 500px) {
  .header hr {
    width: 310px;
  }

  #navigation {
    max-width: 256px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .header img {
    max-width: 200px;
    margin-top: 12px;
  }

  .header h1 {
    font-size: 26px;
  }

  .header h5 {
    font-size: 11.25px;
  }
}
