html {

}

body {
  background-color: #f2f2f2;
  font-family: helvetica;
}

.wrapper {
  text-align: center;
}

.header {
  display: block;
  position: relative;
  line-height: 10px;
}

.header a {
  text-decoration: none;

  /* Multi-browser support */
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;

  transition:color .2s ease-out, background 2s ease-in;
}

.header a:visited {
  color: #000000;
}

.header a:hover {
  color: #0099ff;
}

.header img {
  margin-top: 50px;
  max-width: 400px;
  width: 1024px;
}

.header h1 {
  letter-spacing: 12px;
  margin-top: 40px;
  padding-left: 10px;
  font-size: 39px;
}

.header h5 {
  letter-spacing: 6px;
  margin-top: 20px;
  font-weight: normal;
  font-size: 15px;
}

.header #home {
  letter-spacing: 3px;
  margin-top: 25px;
  font-weight: normal;
}

.header hr {
  width: 910px;
}

#navigation {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

#navigation img {
  max-width: 213px;
  float: left;
  padding: 10px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.about:hover .image,
.designs:hover .image,
.projects:hover .image,
.contact:hover .image {
  opacity: 0.33;
}
