body {
  background-color: #f2f2f2;
  font-family: helvetica;
}

.wrapper {
  text-align: center;
}

.header,
.footer {
  display: block;
  position: relative;
  line-height: 10px;
}

.header a,
.footer a {
  text-decoration: none;

  /* Multi-browser support */
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;

  transition:color .2s ease-out, background 2s ease-in;
}

.header a:visited,
.header a:link,
.footer a:visited,
.footer a:link {
  color: #8c8c8c;
}

.header a:hover {
  color: #0099ff;
}

.header h1 {
  letter-spacing: 5px;
  padding-top: 24px;
  padding-bottom: 13px;
}

.projectlist {
  margin-left: auto;
  margin-right: auto;
  max-width: 910px;
  line-height: 5px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.projectlist th:hover .image {
  opacity: 0.33;
}

.projectlist a:link,
.projectlist a:visited {
  text-decoration: none;
  color: #000000;
}

.projectlist a:hover {
  color: #0099ff;
  transition: .5s ease;
}

.projectlist th {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 30px;
}

.projectlist img {
  max-width: 256px;
  padding-bottom: 8px;
}

.projectlist .subtitle {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 10px;
}

.projectlist .title {
  font-weight: 600;
}
