/*
styles.css is used for keeping a consistent appearance
of the "HOME" button and the bottom navigation bar across
different webpages
*/

.header #home {
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 15px;
  max-width: 910px;
}

.footer {
  text-align: center;
  display: block;
  padding-top: 24px;
  color: #8c8c8c;
  font-size: 12px;
}

.footer #bottom-nav {
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 12px;
}

.footer p {
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 9px;
}

.footer #selected {
  color: #0099ff;
}

.footer a:hover {
  color: #0099ff;
}

hr {
  max-width: 910px;
}
