/*
styles.css is used for keeping a consistent appearance
of the "HOME" button and the bottom navigation bar across
different webpages
*/

html {
  overflow-y: scroll;
}

/* Header Styling */
.header {
  display: block;
  position: relative;
  line-height: 10px;
}

.header #home,
.header #back {
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 15px;
  max-width: 910px;
}

.header #back {
  text-align: left;
  margin: 0;
  position: absolute;
  font-size: 15px;
}

.header #home {
  text-align: center;
}

.header a:visited,
.header a:link {
  color: #8c8c8c;
}

.header a:hover {
  color: #0099ff;
}

.header a {
  text-decoration: none;

  /* Multi-browser support */
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;

  transition:color .2s ease-out, background 2s ease-in;
}

/* Footer Styling */
.footer {
  clear: both;
  text-align: center;
  display: block;
  padding-top: 24px;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 10px;
}

.footer #bottom-nav {
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 12px;
}

.footer p {
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 9px;
}

.footer #selected {
  color: #0099ff;
}

.footer a {
  text-decoration: none;

  /* Multi-browser support */
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;

  transition:color .2s ease-out, background 2s ease-in;
}

.footer a:visited,
.footer a:link {
  color: #8c8c8c;
}

.footer a:hover {
  color: #0099ff;
}

/* Misc. */
hr {
  max-width: 910px;
}
